@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 280 75% 98%;
    --foreground: 280 84% 4.9%;

    --card: 280 75% 98%;
    --card-foreground: 280 84% 4.9%;

    --popover: 280 75% 98%;
    --popover-foreground: 280 84% 4.9%;

    --primary: 322 100% 50%;
    --primary-foreground: 322 100% 98%;

    --secondary: 169 100% 45%;
    --secondary-foreground: 169 100% 98%;

    --muted: 280 40% 96.1%;
    --muted-foreground: 280 16.3% 46.9%;

    --accent: 42 100% 50%;
    --accent-foreground: 42 100% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 280 31.8% 91.4%;
    --input: 280 31.8% 91.4%;
    --ring: 280 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 280 50% 4.9%;
    --foreground: 280 40% 98%;

    --card: 280 50% 4.9%;
    --card-foreground: 280 40% 98%;

    --popover: 280 50% 4.9%;
    --popover-foreground: 280 40% 98%;

    --primary: 322 100% 50%;
    --primary-foreground: 322 100% 98%;

    --secondary: 169 100% 45%;
    --secondary-foreground: 169 100% 98%;

    --muted: 280 32.6% 17.5%;
    --muted-foreground: 280 20.2% 65.1%;

    --accent: 42 100% 50%;
    --accent-foreground: 42 100% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 280 32.6% 17.5%;
    --input: 280 32.6% 17.5%;
    --ring: 280 26.8% 83.9%;

    --radius: 0.5rem;
  }
}